.DS_Store

/config/nvim/plugged/
/config/nvim/rplugin/
/config/nvim/undo/

/bin/exercism
/bin/pob
/bin/godot

config/blender/2.93/config/recent-files.txt
config/blender/2.93/config/bookmarks.txt
config/blender/2.93/config/platform_support.txt

