@import url("../main.css");
body { 
  color: #00F7FF;
  background: #000;
  line-height: 1.455555;
}

a { 
  color: #318A8D; 
}

.status_message, .statusmessage {
  color: #003638;
}

.screenname {
  color: #1A5C69;
  font-weight: bold;
}

.themessage {
  color: #D6D6D6;
}

.thetime {
  color: #003638;
}